.body{
    font-family: 'Dosis', sans-serif;
    /*background-color: #303849;*/
    background-image:url(../images/fond-questionnaire.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.size-card{
    height:40rem;
    margin-top:60px;
}

.card{
    height: 100%;
    text-align: center;
    /*background-image:url(../images/fond-questionnaire/fond-1.png);
    background-size:contain;
    background-repeat: no-repeat;*/
}

.card-body{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.bouton{
    width:auto;
}

.btn{
    font-size:2em;
    background-color: #303849;
    border:none;
    margin:15px;
    width:200px;
}

.btn:hover{
    background-color:#67B26F;
}

p{
    font-size:1.5em;
}

.btnrestart{
    background-color:white;
    color: #303849;
    border:none;
    margin:5px;
    width: 60px;
}

.btnrestart:hover{
    background-color:#67B26F;
    text-align: center;
}

.titre{
    font-size:2em;
    text-align:center;
    color: #FFAC00;

}

@media(max-width: 710px){
    body{
        font-size: 0.7em;
    }
}

.listesize{
    display: flex;
    align-content: flex-start;
    height: 150px;
}

footer{
    display: flex;
    justify-content: center;
    font-size:10px;    
    margin: 5px;
    width: auto;
}

.credits{
    align-self:center;
   
}
.credits p{
    margin: 5px; 
    text-align: center;
}

.credits img{
    margin: 5px;
}

.credits a{
    color: #FFAC00;
}

.credits a:hover{
    color:#303849;
}

.accordion-body{
    text-align: start;
}