.body{
    font-family: 'Dosis', sans-serif;
    margin:0px;
    /*background-color: #303849;*/
    background-image:url(../images/fond-questionnaire.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.size-card{
    height:40rem;
    margin-top:60px;
}

.card{
    height: 100%;
    text-align: center;
    /*background-image:url(../images/fond-questionnaire/fond-1.png);
    background-size:contain;
    background-repeat: no-repeat;*/
}

.card-body{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.bouton{
    width:auto;
}

.btn{
    font-size:2em;
    background-color: #303849;
    border:none;
    margin:15px;
    width:200px;
}

.btn:hover{
    background-color:#67B26F;
}

p{
    font-size: 1.5em;
}

.btnrestart{
    background-color:white;
    color: #303849;
    border:none;
    margin:5px;
    width: 60px;
}

.btnrestart:hover{
    background-color:#67B26F;
    text-align: center;
}

.titre{
    font-size:2em;
    margin-right: 20px;
}


@media(max-width: 976px){
    .titre{
        font-size:25px;
        margin-right: 20px;
        width:300px;
        text-align: center;
    }
    .body{
        font-size: 0.7em;
    }
}

@media(max-width: 710px){
    .titre{
        font-size:20px;
        margin-right: 20px;
        text-align: center;
        width: 600px;
    }
    .body{
        font-size: 0.7em;
    }
}
